@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anonymous Pro", monospace;
  }
  .name {
    font-family: IBM Plex Mono;
    font-size: 48px;
    font-weight: 500;
  }
  .sneaker {
    width: 371px;
  }

 
  p {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 14px;
  }
  
  body {
    background-color: whitesmoke;
  }
  .header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #a1a6b4;
  }
  
  .header-inner {
    width: 95%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header ul {
    list-style: none;
    display: flex;
  }
  
  ul a {
    text-decoration: none;
    color: #000;
    font-family: "Anonymous Pro", monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 0 24px;
  }
  .footer-inner {
      width: 95%;
      max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .footer {
    background-color: #121723;
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .footer ul {
    list-style: none;
    display: flex;
  }
  .fot_line {
    display: "flex";
    align-items: "end";
    justify-content: "center";
    flex-wrap: "warp";
    max-width: 1160px;
    width: 100%;
    margin-top: -15px;
  }
  .line {
    width: 100%;
    border-top: 1px solid #ccc;
    height: 1px;
    margin-top: 20px;
  }
  .fot_text {
    font-family: "Anonymous Pro";
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
.main_img {
    height: 600px;
    width: 100%;
}

.main {
    padding: 48px;
    background-color: white;
    width: 1140px;
    margin: 32px auto;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    gap: 24px;
    
    
}

.main_subline {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    font-size: 30px;
    font-weight: normal;
}

.main_title {
    
    display: flex-start;
    font-size: 48px;
    line-height: 100%;
    max-width: 800px;
    margin: 32px 0 0;
    font-weight: normal;
}

.main_subtitle {
    color: #121723;
    font-size: 36px;
    font-weight: normal;
    line-height: 100%; 
}

.main_content {
    display: flex;
    gap: 32px;
}

.main_info {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.main_info-row {
    display: flex;
    width: 444px;
    justify-content: space-between;
}

.main__info-text {
    justify-content: space-between;
    display: flex;
    gap: 32px;
    align-items: flex-start;
    font-size: 20px;
}


.fot_line {
    display: "flex";
    align-items: "end";
    justify-content: "center";
    flex-wrap: "warp";
    max-width: 1160px;
    width: 100%;
   
  }
  .line {
    width: 100%;
    border-top: 1px solid #ccc;
    height: 1px;
    margin-top: 20px;
    background: #121723;
    ;
  }
  .main_text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 28px; 
  }
  @media screen and (max-width: 380px) {
    .footer{
  height: 195px;
  padding: 32px, 0px, 24px, 0px;
  width: 375px;
    }
    .footer-inner{
      width:343px;
      height:74px;
      gap: 24px;
      flex-direction: column;
      justify-content: space-around;
      white-space: nowrap;
    
   
    }
    .footer-inner img{
      width: 300px;
      height: 22px;
      
    }
    .header {
      width:375px;
  height:156px;
  
  
    }
    .header-inner{
      width:343px;
  height: 156px;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  
  
  flex-direction: column;
    }
    .logo {
      width: 215px;
  height: 64px
    }
    .main{
      width:375px;
    padding: 0px, 16px, 0px, 16px;
    gap: 48px;
    
  }
  .main_img{
    width: 295px;
height: 172px;
border-radius: 12px, 12px, 0px, 0px;
  }
  .main_title{
size: 32px;
width: 295px;


  }

  .main_subtitle{
    width: 295px;

size:20px;
  }
  .main_text{
    width:295px;
gap: 32px;

  }
  .main_info{
    width:295px;
gap: 24px;
justify-content: space-between;


  }
  .main_content{
    flex-direction: column;
  }
  .main_info-row{
    width:295px;



  }
}